.image-slider{
		position: relative;
		width: 70%;
		height: 500px;
		margin: 50px auto;
		border: 10px solid #009696;
		box-shadow: 0px 0px 10px 2px grey;
	}

	.image-slider .img, .image-container{
		width: 100%;
		height: 100%;
	}

	.btn-left, .btn-right{
		position: absolute;
		top:45%;
		padding: 10px;
		cursor: pointer;
		transition: .5s;
	}
    
    .btn-left:hover, .btn-right:hover{
    	background: #009696;
    }

	.btn-left{
		left: 0px;
	}
	.btn-right{
		right: 0px;
	}